{% extends 'base.html.twig' %}

{% block title %}Бронирование билета{% endblock %}

{% block body %}

<div class="container">
    <h1>Бронирование билета</h1>
    <form method="POST" action="{{ path('create_ticket') }}">
    <dl>
        <dt>
            Рейс
        </dt>
        <dd>
            <select class="custom-select" name="flight">
                {% for flight in flights%}
                    <option value="{{ flight.id }}">
                        {{ flight.airportFrom.city.name }}({{ flight.airportFrom.code }}) - {{ flight.airportTo.city.name }}({{ flight.airportTo.code }})
                    </option>
                {% endfor%}
            </select>
        </dd>

        <dt>
            Пассажир
        </dt>
        <dd>
            <select class="custom-select" name="passenger">
                {% for passenger in passengers%}
                    <option value="{{ passenger.id }}">
                        {{ passenger.surname }} {{ passenger.name }} {{ passenger.patronymic }} ( {{ passenger.passportSeries }} {{ passenger.passportNumber }} )
                    </option>
                {% endfor%}
            </select>
            <a href="{{ path('add_passenger') }}" class="btn btn-link">Добавить нового пассажира</a>
        </dd>
        <dt>
            Дата
        </dt>
        <dd>
            <input type="date" class="form-control" name="date">
        </dd>
    </dl>
        <button class="btn btn-primary">Забронировать</button>
    </form>
</div>

{% endblock %}
