{% extends 'base.html.twig' %}

{% block title %}Список билетов{% endblock %}

{% block body %}
    <div class="container ">
        <h1>Список билетов</h1>
        {% for ticket in tickets %}
                <dl class="bg-secondary p-3 m-2 d-flex justify-content-between ticket rounded">
                    <div>
                        <a href="/ticket/{{ ticket.id }}" class="btn text-left text-light">
                            <dt>
                                {{ ticket.passenger.surname }} {{ ticket.passenger.name }} {{ ticket.passenger.patronymic }} ( {{ ticket.passenger.passportSeries }} {{ ticket.passenger.passportNumber }}  )
                            </dt>
                            <h4>Билет:</h4>
                            {% if ticket.status %}
                                <span class="badge badge-success">Зарезервирован</span>
                            {% else %}
                                <span class="badge badge-danger">Отменен</span>
                            {% endif %}
                            <dt>
                                {{ ticket.date.format('d.m.Y') }}
                            </dt>
                            <dt>
                                {{ ticket.flight.airportFrom.city.name }}({{ ticket.flight.airportFrom.code }}) - {{ ticket.flight.airportTo.city.name }}({{ ticket.flight.airportTo.code }})
                            </dt>
                            <dd>
                                Время в пути {{ ticket.flight.time.format('H:i')}}
                            </dd>
                            <dt>
                                Цена {{ ticket.price }} рублей
                            </dt>
                        </a>
                    </div>
                    {% if ticket.status == 1 %}
                    <div class="align-self-center">
                        <a href="/cancel/{{ ticket.id }}" class="btn btn-danger">Отменить</a>
                    </div>
                    {% endif %}
                </dl>
        {% endfor %}
    </div>
{% endblock %}

