{% extends 'base.html.twig' %}

{% block title %}Билет{% endblock %}

{% block body %}
    <div class="container ">
        <h1>Билет успешно забронирован</h1>
        {% if emailResponse %}
            <div class="alert alert-success" role="alert">
                <strong>{{ emailResponse }}</strong>
            </div>
        {% endif %}
        <a href="{{ path('tickets-list') }}" class="btn btn-link">К списку</a>
            <dl class="bg-secondary text-white p-3">
                <dt>
                    {{ ticket.passenger.surname }} {{ ticket.passenger.name }} {{ ticket.passenger.patronymic }} ( {{ ticket.passenger.passportSeries }} {{ ticket.passenger.passportNumber }}  )
                </dt>
                <h4>Билет:</h4>
                <dt>
                    {{ ticket.date.format('d.m.Y') }}
                </dt>
                <dt>
                    {{ ticket.flight.airportFrom.city.name }}({{ ticket.flight.airportFrom.code }}) - {{ ticket.flight.airportTo.city.name }}({{ ticket.flight.airportTo.code }})
                </dt>
                <dd>
                    Время в пути {{ ticket.flight.time.format('H:i')}}
                </dd>
                <dt>
                    Цена {{ ticket.price }} рублей
                </dt>
            </dl>
    </div>
{% endblock %}
