{% extends 'base.html.twig' %}

{% block title %}Добавление пассажира{% endblock %}

{% block body %}

    <div class="container">
        <h1>Добавление пассажира</h1>
        <form method="POST" action="{{ path('create_passenger') }}">
            <dl>
                <h4>Пассажир:</h4>
                <dt>
                    Фамилия
                </dt>
                <dd>
                    <input type="text" class="form-control" name="surname" required>
                </dd>

                <dt>
                    Имя
                </dt>
                <dd>
                    <input type="text" class="form-control" name="name" required>
                </dd>
                <dt>
                    Отчество
                </dt>
                <dd>
                    <input type="text" class="form-control" name="patronymic" required>
                </dd>
                <h4>Паспорт:</h4>
                <dt>
                    Серия
                </dt>
                <dd>
                    <input type="text" class="form-control" name="passport_series" maxlength="4" minlength="4" required>
                </dd>
                <dt>
                    Номер
                </dt>
                <dd>
                    <input type="text" class="form-control" name="passport_number" maxlength="6" minlength="6" required>
                </dd>
            </dl>
            <button class="btn btn-primary">Добавить</button>
        </form>
    </div>
{% endblock %}
